.footer{
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
    font-style: oblique;
}
.container-xl{
  
    animation: mover-container-xl 2s ease-in-out infinite alternate;
    }
    @keyframes mover-container-xl{
    0%{
      transform: translate(5px);
      transition-duration: 1s;
    }
    50%{
      transform: translate(10px);
      background-color: white;
    }
    100%{
      transform: translate(10px);
      background-color: white;
    }
    }
    
    
    @media (min-width: 1200px){
      .header{
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .header__navbar{
          width: 50%;
      }
      .parrafo{
          padding: 15px;
      }
      .container-xl{
        width: 50%;
        background-color: red;
        color: black;
      }
      .tarjeta__imagen{
        width: 50%;
      }
      .hero {
        height: 85vh;
        display: flex;
        background-image: url(../img/fotopartidoportada.jpg);
        justify-content: center;
        align-items: center;
      }
      
      .hero__text {
        color: black;
        text-align: center;
        padding: 15px;
        background-color: rgba(128, 128, 128, 0.523);
        border-radius: 20px;
      }
    }
    .container-xl{
        padding: 15px;
        background-color: rgba(255, 0, 0, 0.75);
        color: black;
        width: 50%;
    }
    .tarjeta__imagen {
      width: 50%;
    }
    .container-fluid{
      color: red;
    }
