.torneos {
    background-color:  black;
    display: flex;
    flex-direction: row;
  }
  .torneos_ {
    color: red;
  }
  
  .torneos_estilo {
    margin-top: 10px;
    color: red;
    text-decoration: underline;
  }
  .torneo_img{
   padding: 80px;
   background-color: wheat;
  }
  .body {
    background-color: wheat;
  }