.tarjeta{
        background-color: white;
        border: 2px solid black;
        width: 250px;
        font-style: italic;
        font-size: 2rem;
        display: inline-table;
        padding: 20px;
        margin: 20px;
        /*padding: 50px;*/
        /*position: sticky;*/
    &__imagen{
        width: 200px;
        height: auto;
    }
    &__imagen1{
        width: 600px;
        height: 80vh;
        padding: 20px;
    } 
    &__imagen2{
        width: 600px;
        height: 80vh;
        padding: 20px;
    }
    &__imagen3{
        width: 600px;
        height: 600vh;
        padding: 20px;
    }
    &__imagen3{
        width: 800px;
        height: 800vh;
        padding: 30px;
    }
    &__imagen4{
        width: 800px;
        height: 800vh;
        padding: 20px;
    }
    animation: mover-tarjeta 2s ease-in-out infinite alternate;
}
@keyframes mover-tarjeta{
    0%{
        transform: translate(5px);
        transition-duration: 1s;
    }
    50%{
        transform: translate(10px);
        background-color: white;
    }
    100%{
        transform: translate(10px);
        background-color: white;
    }
}
